@font-face {
  font-family: Titillium-Regular;
  src: url('fonts/Titillium/Titillium-Regular.otf') format('otf');
}

@font-face {
  font-family: Titillium-Light;
  src: url('fonts/Titillium/Titillium-Light.otf') format('otf');
}

canvas{
    margin: auto;
    border: solid black 0.2em;
    margin-top: 4em;
}
body {
  margin: 20px;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
}

.chatCryptLogo{
margin-right: 10em;
}

header img {
    display: inline;
}


/* Core  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium-Regular', sans-serif;
    box-sizing: border-box;
}

html {
  /* background-image: url("BlurBackground.png"); */
  background-size: cover;
  font-family: 'Titillium', sans-serif;
  width: 100%;

}

p {
  color: black;
  font-family: 'Titillium-Regular', sans-serif
}

body {
    font-size: 20px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px 5px #0ff;
    padding: 2rem;
    color: white;
    width: 100%;
}

/* Flexbox */
header, body, nav, .gallery, .video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* Header and Footer */
header {
    font-size: 1.8em;
    padding-left: 1em;
    justify-content: space-around;
}

footer {
    margin: 1em;
    padding: 1em;
    text-align: left;
    font-size: 1em;
}

/* Global */
aside img {
    max-width: 100%;
    border-radius: 2em;
}

h1 {
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    color: black;
    font-size: 1.5em;
    font-family: 'Titillium', sans-serif;
    font-weight: bold;
}

article h1, section h1 {
  color: black;
  font-size: 1.1em;
}

.logo{
  color: rgb(43, 237, 230);
  font-family: 'Titillium-Light', sans-serif;
  font-size: 1.1em;

}

aside{
    background-color: black;
}

main {
    border-top: solid black 0.125em;

}

main h1 {
    padding-left: 0.6em;
    margin-bottom: 0.9em;
}

main li {
    color: black;
    margin-left: 2.1em;
}

article, section {
    padding-top: 0em;
    margin: 0em 1em 1em 1em;
    /* box-shadow: 2px 2px 2px 2px #0ff; */
}

p {
    margin: 0.5em;
    padding: 0.5em;
    color: black;
} 

footer p {
    margin: 0;
    padding: 0;
}

/* Only images within the textual pages, excluding images on the Gallery Page */
article figure, section figure, article + figure {
    text-align: centre;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
}

/* Nav  */
nav {
    display: flex;
    font-family: 'Titilium Light', sans-serif;
    margin-left: 6em;
}

nav ul {
    list-style: none;
    margin: 0em 0.3em 0.3em 0.3em;
    padding-top: 0.3em;
}

nav ul li {
  display: inline;
  border-color: black;
  border-style: solid;
  border-width: 0.15em;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.2em;
}

nav a[href=""], nav a:hover[href=""] {
    box-shadow: none;
}

/* Links */
article a, nav a {
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-color: black;
    border-radius: 1em;
    /* box-shadow: 8px 8px 8px 8px #202225; */
}

nav a:hover {
    color: darkblue;
}

a {
    color: dodgerblue;
}

a:hover {
}

#web_app_button{
    border: solid black 0.1em;
    border-radius: 0.5em;
    list-style: none;
    padding: 1em;
}

#web_app_button a:hover{
    color: blue;
    cursor: pointer;

}


 

@viewport {
    width: device-width
}
  
  h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.75;
  }  
  span {
    display: block;
    font-size: 3em;
  }
  

#decrypt_button{
    color: green;
    border-style: solid;
    border-width: 0.1em;
    border-color: green;
    list-style: none;
    display: inline;
    cursor: pointer;
}


  article {
    margin-top: 10em;
}
@media screen and (min-width: 10em) {
    body {
	width: 90%;
        /* display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: auto;
        grid-template-areas: "top top" 
			     "navposition navposition"
                             "middle middle"
                             "bottom bottom" */
	}

	aside img {
	    padding: 0;
	    margin: 0em 0em 2em 0em;
	}

	aside img:hover {
	    transform: scale(1);
	}

    header {
	padding-left: 0.5em;
        /* grid-area: top; */
	justify-content: space-between;
	align-items: baseline;
    }

    nav {
        /* grid-area: navposition; */
    }

    main {
        /* grid-area: middle; */

    }

    footer {
        /* grid-area: bottom; */
    }
	
}

@media screen and (min-width: 76em) {
    body {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: auto;
  grid-template-areas: "top-left top-right"
  "footer footer"
	}

    aside img {
	margin: 1em;
	padding: 1em;
    }

    header {
    padding-left: 1em;
    grid-area: top-left;
    }

    nav {
        grid-area: top-right;
    }
	
    form {
        grid-area: middle-left;

    }

    canvas{
        grid-area: middle-right;

    }

    img:hover {
	transform: scale(1.1);
    }

    footer{
      grid-area: "footer"
    }

}